.time-numbers > *, .time-entry > * {
    display: inline-block;
}

.timepicker {
    margin-right: 15px;
}

@media (min-width: 546px) {
    .time-entry-comment {
        position: relative;
        top: 60px;
    }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
display: none !important;
}